{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "parserOptions": {
    "tsconfigRootDir": "."
  },
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "object-curly-spacing": ["error", "always"],
    "brace-style": ["error", "stroustrup"],
    "space-unary-ops": [
      2, {
        "words": true,
        "nonwords": false,
        "overrides": {
          "!": true
        }
      }
    ],
    "unicorn/no-array-for-each": "off"
  }
}
